<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
        <a href="/"><img class="logo" width="200" src="/images/logo-mercado-liebre.svg" alt=""></a>
        <!--aca va la barra de busqueda-->
        <form action="">
            <input type="text" placeholder="Buscar productos">
            <button><i class="fas fa-search"></i></button>
        </form>
        
        
        <p class="copy-header">
            <i class="fas fa-hand-holding-usd">
            </i>Comprá en cuotas y sin tarjeta de crédito
        </p>
        </div>  
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register"></i>Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login"></i>Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href=""></i>Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
        
    
    </header>
    
    
    
    <main>
        <!--Contenido principal-->
        <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
        <section>
            
            
            <h2 class="headlines">Basado en tu ultima visita</h2>
            

            <div class="product-section1">
            <div class="product-section3">
            <article class="product-box">
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="200" class="product-img">
            <div class="product-container">
            <p class="truck"><i class="fas fa-truck"></i></p>
            <div class="price-discount">
            <h3 class="price">$6.770</h3>
            <h3 class="discount">40% OFF</h3>
            </div>
            <h2 class="description">Cafetera Moulinex</h2>
            </div>
            </article>
          
          <article class="product-box">
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="200" class="product-img">
            <div class="product-container">
            <p class="truck"><i class="fas fa-truck"></i></p>
            <div class="price-discount">
            <h3 class="price">$230.000</h3>
            <h3 class="discount">20% OFF</h3>
            </div>
            <h2 class="description">MacBook Pro 2019</h2></div>
            </div>
          </article>
          
          <div class="product-section4">
          <article class="product-box">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="200" class="product-img">
            <div class="product-container">
            <p class="truck"><i class="fas fa-truck"></i></p>
            <div class="price-discount">
            <h3 class="price">$70.500</h3>
            <h3 class="discount">10% OFF</h3>
            </div>
            <h2 class="description">Samsung Galaxy S10</h2></div>
          </article>
          
          <article class="product-box">
            <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV 43" width="200" class="product-img">
            <div class="product-container">
            <p class="truck"><i class="fas fa-truck"></i></p>
            <div class="price-discount">
            <h3 class="price">$23.200</h3>
            <h3 class="discount">5% OFF</h3>
            </div>
            <h2 class="description">SmartTv Samsung 43"</h2></div>
          </article>
            </div>
            </div>   
        </section>
        
        <section>
            <h2 class="headlines">Sección de Ofertas</h2>
             
            
            <div class="product-section2">
            <div class="product-section5">    
            <article class="product-box">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="200" class="product-img">
                <div class="product-container">
                <p class="truck"><i class="fas fa-truck"></i></p>
                <div class="price-discount">
                <h3 class="price">$6.770</h3>
                <h3 class="discount">40% OFF</h3>
                </div>
                <h2 class="description">Cafetera Moulinex</h2></div>
            </article>
            
            <article class="product-box">
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="200" class="product-img">
            <div class="product-container">
            <p class="truck"><i class="fas fa-truck"></i></p>
            <div class="price-discount">
            <h3 class="price">$230.000</h3>
            <h3 class="discount">20% OFF</h3>
            </div>
            <h2 class="description">MacBook Pro 2019</h2></div>
            </article>
            </div>
            
            <div class="product-section6">
            <article class="product-box">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="200" class="product-img">
            <div class="product-container">
            <p class="truck"><i class="fas fa-truck"></i></p>
            <div class="price-discount">
            <h3 class="price">$70.500</h3>
            <h3 class="discount">10% OFF</h3>
            </div>
            <h2 class="description">Samsung Galaxy S10</h2></div>
            </article>
            
            <article class="product-box">
            <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV 43" width="200" class="product-img">
            <div class="product-container">
            <p class="truck"><i class="fas fa-truck"></i></p>
            <div class="price-discount">
            <h3 class="price">$23.200</h3>
            <h3 class="discount">5% OFF</h3>
            </div>
            <h2 class="description">SmartTv Samsung 43"</h2></div>
            </article>
            </div>
            </div>
        </section>
    </main>
    
    <footer class="main-footer">
        <!--Pie o cierre de la pagina-->
        

        
        <div class="footer-1">
        <div class="credit-card"><i class="fas fa-credit-card"></i></div>
         <h3>Pagá con tarjeta o en efectivo</h3>
           <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
         </div>
         
       
         <div class="footer-2">
        <div class="gift-icon"><i class="fas fa-gift"></i></div>
        <h3>Envío gratis desde $ 2.500</h3>
           <p >Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
         </div>
        
        
         <div class="footer-3">
        <div class="security-icon"><i class="fas fa-user-shield"></i></div>
        <h3>Seguridad, de principio a fin</h3>
           <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
         </div>  
        
         
        
        
    
    </div>
    </footer>
    <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>

</body>
</html>